.gallery {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/gallery/gallery-mob-1x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  text-align: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;
}
